
input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .btn {
      background-color: green;
      width: 50%;
      margin-bottom: 20px;
      padding: 12px;
      border-radius: 3px;

  }
  @media (min-width: 1200px) {
    .container {
        max-width: 1460px;
    }
  }
  span.price {
      float: right;
      color: grey;
  }
  